/*Variable defining*/
:root {
  /*Color variables----------------------------------------*/
  /*primary*/
  --primary-color-red: hsl(0, 78%, 62%);
  --primary-color-cyan: hsl(180, 62%, 55%);
  --primary-color-orange: hsl(34, 97%, 64%);
  --primary-color-blue: hsl(212, 86%, 64%);
  /*neutral*/
  --neutral-color-gray-500: hsl(234, 12%, 34%);
  --neutral-color-gray-400: hsl(212, 6%, 44%);
  --neutral-color-white: hsl(0, 0%, 100%);

  /*Typography variables-------------------------------------*/
  /*text preset 1*/
  --text-preset-1: "Poppins-semiblod", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-1-font-size: 3.6rem;
  --text-preset-1-line-height: 140%;
  --text-preset-1-letter-spacing: 0.025rem;
  /*text preset 2*/
  --text-preset-2: "Poppins-extralight", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-2-font-size: 3.2rem;
  --text-preset-2-line-height: 140%;
  --text-preset-2-letter-spacing: 0.025rem;
  /*text preset 3*/
  --text-preset-3: "Poppins-semiblod", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-3-font-size: 2rem;
  --text-preset-3-line-height: 135%;
  --text-preset-3-letter-spacing: 0rem;
  /*text preset 4*/
  --text-preset-4: "Poppins-regular", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-4-font-size: 1.5rem;
  --text-preset-4-line-height: 140%;
  --text-preset-4-letter-spacing: 0rem;
  /*text preset 5*/
  --text-preset-5: "Poppins-regular", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-5-font-size: 1.3rem;
  --text-preset-5-line-height: 160%;
  --text-preset-5-letter-spacing: 0rem;

  /*Spacing variables----------------------------------------------*/
  --spacing-500: 4rem;
  --spacing-400: 3.2rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-100: 0.8rem;
}
/*Note: All the cards have the same styles, so I give them the same classes in order to traget them once in the CSS file and following the DRY concept*/

html {
  font-size: 62.5%;
}
/*body styles*/
body {
  overflow-x: hidden;
  background: var(--neutral-color-white);
  padding: 5.6rem 3rem 4.6rem 2.6rem;

  /*display props*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  /*Header styles*/
  .header {
    /*dipslay props*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);
    width: 31.6rem;

    /*Header title style*/
    .header-title {
      color: var(--neutral-color-gray-500);
      text-align: center;
      font-family: var(--text-preset-2);
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 275;
      line-height: var(--text-preset-2-line-height);
      letter-spacing: 0.0104rem;
      & span {
        align-self: stretch;
        font-family: var(--text-preset-1);
        font-weight: 600;
        line-height: var(--text-preset-1-line-height);
        letter-spacing: var(--text-preset-1-letter-spacing);
      }
    }
    .header-info {
      align-self: stretch;
      color: var(--neutral-color-gray-500);
      text-align: center;
      font-family: var(--text-preset-4);
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: var(--text-preset-4-line-height);
      letter-spacing: 0.0104rem;
    }
  }
  /*Main styles*/
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-400);
    align-self: center;

    /*Unqie Card styles*/
    .card-wrapper[color-type="red"] {
      border-top: 4px solid var(--primary-color-red);
    }
    .card-wrapper[color-type="cyne"] {
      border-top: 4px solid var(--primary-color-cyan);
    }
    .card-wrapper[color-type="orange"] {
      border-top: 4px solid var(--primary-color-orange);
    }
    .card-wrapper[color-type="blue"] {
      border-top: 4px solid var(--primary-color-blue);
    }
    /*mid column section*/
    .mid-part {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-400);
    }

    /* Common Card Styles*/
    .card-wrapper {
      border-radius: var(--spacing-100);
      width: 31.4rem;

      .card {
        /*Display props*/
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: var(--spacing-400);

        /*General props*/
        height: 25rem;
        border-radius: 0 0 var(--spacing-100) var(--spacing-100);
        padding: var(--spacing-400);
        background: var(--neutral-color-white);
        box-shadow: 0 1.5rem 3rem -1.1rem rgba(131, 166, 210, 0.5);
        .card-content {
          .card-title {
            align-self: stretch;
            color: var(--neutral-color-gray-500);
            font-family: var(--text-preset-3);
            font-size: var(--text-preset-3-font-size);
            font-style: normal;
            font-weight: 600;
            line-height: var(--text-preset-3-line-height);
          }
          .card-info {
            align-self: stretch;
            color: var(--neutral-color-gray-400);
            font-family: var(--text-preset-5);
            font-size: var(--text-preset-5-font-size);
            font-style: normal;
            font-weight: 400;
            line-height: var(--text-preset-5-line-height);
            letter-spacing: 0.009rem;
          }
        }
        .card-image {
          display: inline;
          flex-shrink: 0;
          width: 6.4rem;
          height: 6.4rem;
        }
      }
    }
  }
}

/*footer styles*/
footer {
  align-self: stretch;
  
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
