/*Variable defining*/
:root {
  /*Color variables----------------------------------------*/
  /*primary*/
  --primary-color-red: hsl(0, 78%, 62%);
  --primary-color-cyan: hsl(180, 62%, 55%);
  --primary-color-orange: hsl(34, 97%, 64%);
  --primary-color-blue: hsl(212, 86%, 64%);
  /*neutral*/
  --neutral-color-gray-500: hsl(234, 12%, 34%);
  --neutral-color-gray-400: hsl(212, 6%, 44%);
  --neutral-color-white: hsl(0, 0%, 100%);

  /*Typography variables-------------------------------------*/
  /*text preset 1*/
  --text-preset-1: "Poppins-semiblod", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.6rem;
  line-height: 140%;
  letter-spacing: 0.025rem;
  /*text preset 2*/
  --text-preset-2: "Poppins-extralight", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.2rem;
  line-height: 140%;
  letter-spacing: 0.025rem;
  /*text preset 3*/
  --text-preset-3: "Poppins-semiblod", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 135%;
  letter-spacing: 0rem;
  /*text preset 4*/
  --text-preset-4: "Poppins-regular", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0rem;
  /*text preset 5*/
  --text-preset-5: "Poppins-regular", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  line-height: 160%;
  letter-spacing: 0rem;

  /*Spacing variables----------------------------------------------*/
  --spacing-500: 4rem;
  --spacing-400: 3.2rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-100: 0.8rem;
}
/*Note: All the cards have the same styles, so I give them the same classes in order to traget them once in the CSS file and following the DRY concept*/

/*body styles*/
body {
  background: var(--neutral-color-white);
  border: 2px solid black;
}

/*footer styles*/
footer {
  border: 2px solid red;
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
